@use "styles/colors";
@use "styles/mixins";


@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

$gradientShift: gradientShift;

.workSection {
  width: 100%;

  background: colors.$white;
  scroll-margin-top: 80px;
}

.inner {
  justify-content: space-between;
  margin: 0 auto;

  max-width: 1200px;
  padding: 100px;

  @include mixins.tablet {
    padding: 100px 60px;
  }

  @include mixins.mobile {
    padding: 60px 20px;
  }
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 100%;
  margin-bottom: 60px;

  text-align: center;

  h4 {
    color: colors.$gray-100;
  }

  h2 {
    color: colors.$black;
  }


  .gradient {

    -webkit-text-stroke: 0.2px colors.$white;

    @include mixins.text-gradient(linear-gradient(270deg, #ff7e5f, #feb47b, #86a8e7, #91eae4));
    animation: #{$gradientShift} 3s ease infinite;
  }

}

.workList {
  display: grid;
  gap: 20px;
  width: 100%;
  padding: 20px;

  justify-items: center;

  // 데스크탑: 3열
  grid-template-columns: repeat(3, 1fr);

  // 태블릿: 2열
  @include mixins.tablet {
    grid-template-columns: repeat(2, 1fr);
  }

  // 모바일: 1열
  @include mixins.mobile {
    grid-template-columns: 1fr;
  }
}